<button 
  [type]="type"
  class="btn"
  [ngClass]="[themeClass, sizeClass, customClass]"
  [disabled]="disabled"
  (click)="handleClick($event)"
>
  <ng-container *ngIf="size !== 'more'">
    <ng-container *ngIf="iconAlign === 'left'">
      <i *ngIf="icon" class="bx" [ngClass]="icon"></i>
    </ng-container>
    
    <ng-content></ng-content>
    
    <ng-container *ngIf="iconAlign === 'right'">
      <i *ngIf="icon" class="bx" [ngClass]="icon"></i>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="size === 'more'">
    <i class="bx bx-dots-vertical-rounded"></i>
  </ng-container>
</button>
