@use '../../../styles/config' as *;

.btn {
    padding: $spacing-8 $spacing-16;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-4;
    min-height: 36px;
    border: 1px solid transparent;
    border-radius: $radius-sm;
    @include typo-caption-1;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }

    &.btn-small {
        padding: $spacing-4 $spacing-10;
        min-height: min-content;
        @include typo-caption-2;
    }

    &.btn-large {
        padding: $spacing-12 $spacing-24;
        min-height: 40px;
        @include typo-body-2;
    }

    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
    }

    &.btn-outlined-primary {
        background-color: transparent;
        border-color: $color-primary;
        color: $color-primary;
    }

    &.btn-secondary {
        background-color: $color-secondary;
        color: $color-white;
    }

    &.btn-outlined-secondary {
        background-color: transparent;
        border-color: $color-secondary;
        color: $color-secondary;
    }

    &.btn-success {
        background-color: $color-success;
        color: $color-white;
    }

    &.btn-outlined-success {
        background-color: transparent;
        border-color: $color-success;
        color: $color-success;
    }

    &.btn-error {
        background-color: $color-error;
        color: $color-white;
    }

    &.btn-outlined-error {
        background-color: transparent;
        border-color: $color-error;
        color: $color-error;
    }

    &.btn-warning {
        background-color: $color-warn;
        color: $color-white;
    }

    &.btn-outlined-warning {
        background-color: transparent;
        border-color: $color-warn;
        color: $color-warn;
    }

    &.btn-neutral {
        background-color: $color-light-grey; // $color-light-grey
        color: $color-deep-grey;

        &:hover {
            background-color: $color-grey; // $color-grey
        }
    }

    &.btn-outlined-neutral {
        background-color: transparent;
        border-color: $color-grey;
        color: $color-deep-grey;

        &:hover {
            background-color: $color-light-grey;
        }
    }

    &.btn-icon {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: $radius-md;
        background-color: transparent;
        color: $color-deep-grey;

        &:hover {
            background-color: $color-surface;
            color: $color-dark;
        }
    }
}