@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.c-modal-sidebar-group {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .c-modal-sidebar-group-label {
    font-size: 14px;
    font-weight: 700;
    // color: #94a3b8;
    color: #333;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      font-size: 24px;
    }
  }

  .c-modal-sidebar-group-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

body.dark-theme,
body.dark-mode {
  .c-modal-sidebar-group {
    .c-modal-sidebar-group-label {
      color: #fff;
    }
  }
}
